{:blocks (
{:block/content "dayly visitors"
:block/format :markdown
:block/left 
{:block/uuid #uuid "68562f12-cb3c-4501-ba9b-d2b1f886f4f0"}
:block/parent 
{:block/uuid #uuid "68562f12-cb3c-4501-ba9b-d2b1f886f4f0"}
:block/properties 
{}
:block/uuid #uuid "68562f1d-1f83-4738-b322-e959f62ff410"} 
{:block/created-at 1750479302959
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke "red"
:rotation 0
:collapsed false
:borderRadius 8
:index 0
:scale [1 1]
:pageId "68562f1d-1f83-4738-b322-e959f62ff410"
:scaleLevel "md"
:fill "red"
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [144 40.90089416503906]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "b5718320-4e54-11f0-87aa-fbb06f9d623e"
:noFill false
:point [296 272]
:parentId "68562f12-cb3c-4501-ba9b-d2b1f886f4f0"
:collapsedHeight 0
:nonce 1750478617905}}
:block/updated-at 1750479302959} 
{:block/content "sunset visitors"
:block/format :markdown
:block/left 
{:block/uuid #uuid "68562f1d-1f83-4738-b322-e959f62ff410"}
:block/parent 
{:block/uuid #uuid "68562f12-cb3c-4501-ba9b-d2b1f886f4f0"}
:block/uuid #uuid "68562f3a-d815-414e-b4c1-c391422a08d8"} 
{:block/created-at 1750479294562
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke "green"
:rotation 0
:collapsed false
:borderRadius 8
:index 1
:scale [1 1]
:pageId "68562f3a-d815-414e-b4c1-c391422a08d8"
:scaleLevel "md"
:fill "green"
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [144 40.90089416503906]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "c17b0650-4e54-11f0-87aa-fbb06f9d623e"
:noFill false
:point [296 344]
:parentId "68562f12-cb3c-4501-ba9b-d2b1f886f4f0"
:collapsedHeight 0
:nonce 1750478638102}}
:block/updated-at 1750479294562} 
{:block/content "miracle visitors"
:block/format :markdown
:block/left 
{:block/uuid #uuid "68562f3a-d815-414e-b4c1-c391422a08d8"}
:block/parent 
{:block/uuid #uuid "68562f12-cb3c-4501-ba9b-d2b1f886f4f0"}
:block/uuid #uuid "68562f57-d3a8-4267-8078-d3b84a489787"} 
{:block/created-at 1750479299408
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke "green"
:rotation 0
:collapsed false
:borderRadius 8
:index 2
:scale [1 1]
:refs ["glowing forest"]
:pageId "68562f57-d3a8-4267-8078-d3b84a489787"
:scaleLevel "md"
:fill "green"
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [144 40.90089416503906]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "d6fcda80-4e54-11f0-87aa-fbb06f9d623e"
:noFill false
:point [296 416]
:parentId "68562f12-cb3c-4501-ba9b-d2b1f886f4f0"
:collapsedHeight 0
:nonce 1750478674475}}
:block/updated-at 1750479299408} 
{:block/content "sunrise visitors"
:block/format :markdown
:block/left 
{:block/uuid #uuid "68562f57-d3a8-4267-8078-d3b84a489787"}
:block/parent 
{:block/uuid #uuid "68562f12-cb3c-4501-ba9b-d2b1f886f4f0"}
:block/uuid #uuid "68562fac-e245-4e25-aae9-0bfd6b84df84"} 
{:block/created-at 1750479296341
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke "green"
:rotation 0
:collapsed false
:borderRadius 8
:index 3
:scale [1 1]
:pageId "68562fac-e245-4e25-aae9-0bfd6b84df84"
:scaleLevel "md"
:fill "green"
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [144 40.90089416503906]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "099fce20-4e55-11f0-87aa-fbb06f9d623e"
:noFill false
:point [296 488]
:parentId "68562f12-cb3c-4501-ba9b-d2b1f886f4f0"
:collapsedHeight 0
:nonce 1750478759530}}
:block/updated-at 1750479296341})
:pages (
{:block/uuid #uuid "68562f12-cb3c-4501-ba9b-d2b1f886f4f0"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "68562f12-cb3c-4501-ba9b-d2b1f886f4f0"
:name "68562f12-cb3c-4501-ba9b-d2b1f886f4f0"
:bindings 
{}
:nonce 1
:assets []
:shapes-index ("b5718320-4e54-11f0-87aa-fbb06f9d623e" "c17b0650-4e54-11f0-87aa-fbb06f9d623e" "d6fcda80-4e54-11f0-87aa-fbb06f9d623e" "099fce20-4e55-11f0-87aa-fbb06f9d623e")}}
:block/updated-at 1750479302959
:block/created-at 1750478610495
:block/type "whiteboard"
:block/name "flow"
:block/original-name "flow"})}